#content {
    margin: 0;
    padding: 0;
}


.contenedor {
    justify-content: space-around;
    width: 100%;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    color: white;
    columns: 5 200px;
    column-gap: 18px;
    gap: 25px;
    margin: top;
}


#navbar-pinterest {
    top: 15px;
    padding-top: 7px;
}

#logo {
    width: 30px;
    height: 30px;
    display: flex;
    display: flex start;
    cursor: pointer;
}

#HEC {
    margin: 30px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    color: black;
    gap: 10px;
    cursor: pointer;
}

img {
    max-width: 100%;
    outline: 5px solid rgb(255, 255, 255);
    border-radius: 25px;
    cursor: zoom-in;
}

.finder {
    height: 100%;
    width: 50%;
    border-radius: 25px;
    border: 20px;
    background-color: rgb(213, 219, 219 );
    font-size: 20px;
    font-weight: normal;
    outline: none;
    box-sizing: border-box;
    padding: 29px;
}

@media print {
    /* … */
  }

.card-image:hover {
    font-size: 1rem;
    background-color: transparent;  
    position: relative;
}

button {
    position: absolute;
    cursor: pointer;
    background-color: rgb(213, 26, 7);
    border-radius:45px;
    border: rgb(213, 26, 7);
    color: #ffffff;
    padding: 15px;  
}

#notificaciones {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    border-radius: 1px;
    cursor: pointer;
}

#mensajes {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    border-radius: 1px;
    cursor: pointer;
}

#perfil {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    border-radius: 1px;
    cursor: pointer;
}
